
.search-div {
  /* making div position relative to adjust the heading and search fields in center of video */ 
  position: relative;
}

.search-div video {
  display: block;
}

.searchBox {
  /* to keep it in a center of video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  /* 1st child holding input field & 2nd child holding search-btn */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-heading {
   /* to keep it in a center of video */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  color: antiquewhite;
  font-family: 'Quicksand', sans-serif;

   /* for animated heading, style is ease-in & ease-out & will run infinite */
  animation: heading-animation 1s ease-in-out infinite;
}

@keyframes heading-animation  {
  0% {
    transform: translate(-50%, -50%) translateY(10px);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) translateY(10px);
    opacity: 0;
  }
}

.search-input-field{
  
  font-family: 'Quicksand', sans-serif;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 30px;
  color: #486ee0;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 8);
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  text-align: center;

}
.search-button{
  font-family: 'Quicksand', sans-serif;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #486ee0;
  color: antiquewhite;
  box-shadow: 0 16px 16px rgba(0, 0, 0, 8);
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;

}
@media only screen and (max-width: 850px) {
  .search-heading {
    top: 25%;
  }
}
